.page__heading {
    font-size: 2.75rem;
    font-weight: 700;
    line-height: 3.25rem;
}

.product-overview {
    display: flex;
    justify-content: space-between;
}

.product-overview__average-score-section {
    display: flex;
    align-items: center;
}

.product-overview__average-score {
    font-size: 2.75rem;
    line-height: 3.25rem;
    margin-right: 1.2rem;
}

.product-overview__star {
    margin: 0 0.15rem;
}

.hr {
    margin-top: 4.31rem;
    margin-bottom: 2.56rem;
    border: 1px solid #b9b9b9;
}

.page__reviews-heading {
    margin-bottom: 1.3rem;
}

.review {
    display: flex;
    align-items: center;

    margin: 0.9rem 0rem;
}

.review__stars {
    margin-right: 1.813rem;
}

.review__score-text {
    font-size: 1.25rem;
    line-height: 1.438rem;
    color: #858585;
}

.review__score-number {
    color: #000;
    font-weight: 700;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
    background-color: #ffffff;
    margin: 10% auto;
    padding: 1.5rem 2.5rem;
    border-radius: 1.5rem;
    width: 30%;
}

.rating__heading {
    font-size: 2.75rem;
    line-height: 3.25rem;
}

.rating__input {
    margin: 1.25rem 0;
}

.rating__review-text-area {
    margin-top: 2.5rem;
    margin-bottom: 3.375rem;
}

.rating__input input[type="radio"] {
    position: fixed;
    opacity: 0;
    pointer-events: none;
}
